{% load static %}
<footer class="text-white text-center py-4 mt-5">
  <div class="container">
    <p>&copy; 2025 GymEncore. All rights reserved.</p>
    <div class="d-flex justify-content-center mt-3">
      <a href="https://instagram.com" target="_blank" class="mx-2">
        <img src="{% static 'icons/instagram.svg' %}" alt="Instagram" width="24" height="24">
      </a>
      <a href="https://twitter.com" target="_blank" class="mx-2">
        <img src="{% static 'icons/twitter.svg' %}" alt="Twitter" width="24" height="24">
      </a>
      <a href="https://tiktok.com" target="_blank" class="mx-2">
        <img src="{% static 'icons/tiktok.svg' %}" alt="TikTok" width="24" height="24">
      </a>
    </div>
  </div>
</footer>


