{% extends "base.html" %}
{% block title %}Testimonials | GymEncore{% endblock %}
{% block content %}
<div class="container mt-5">
  <h2 class="text-center">What Our Members Say</h2>
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card p-3">
        <p>"GymEncore has transformed how I manage my fitness journey. Easy and reliable!"</p>
        <small>- Sarah, Member</small>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card p-3">
        <p>"As an instructor, I love how simple it is to track classes and attendance."</p>
        <small>- James, Instructor</small>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card p-3">
        <p>"Payments and subscriptions are seamless. Highly recommend GymEncore to all gyms."</p>
        <small>- Anita, Gym Owner</small>
      </div>
    </div>
  </div>
</div>
{% endblock %}
